

{% extends "tourbest/dashboard.html" %}
{% block page %}
   <div class="container">
        {% if user.is_authenticated %}
        <a href="{% url 'tourbest:logout' %}">Logout</a><br />
        {% else %}
        <a href="{% url "tourbest:register" %}">Register Here</a><br />
        <a href="{% url "tourbest:login" %}">Login</a><br />
        {% endif %}

        {% if tour_list %}
            <ul>
            {% for tour in tour_list %}
                <li><a href="{% url 'tourbest:detail' tour.id %}">{{ tour.description }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p >No tours are available.</p>
        {% endif %}

   </div>
{% endblock %}