

{% extends "tourbest/dashboard.html" %}
{% load staticfiles %}
{% load  static %}
{% block page %}
   <div class="container">
        {% if tour_list %}
            <div class="tour-list">
                {% for tour in tour_list %}
                    <img src="{{ tour.picture.url }}" class="tour-image" />
                    <a href="{% url 'tourbest:detail' tour.id %}" class="tour-title">{{ tour.title }}</a>
                    {% if tour.hot %}
                        <h5 class="tour-hot"> HOT!</h5>
                    {% endif %}
                    <h5 class="tour-location">{{ tour.location }}</h5>
                    <h5 class="tour-price">{{ tour.price }}</h5>
                    <h5 class="tour-date">{{ tour.start_date }}</h5>
                    <h5 class="tour-date">{{ tour.finish_date }}</h5>
                    <h5 class="tour-phone">{{ tour.contact_phone }}</h5>
{#                    <h5 class="tour-places">{{ tour.available_count }}</h5>    #}
                {% endfor %}
            </div>
        {% else %}
            <p >No tours are available.</p>
        {% endif %}
   </div>
{% endblock %}